/* CONTACT :: START */

/**************************************/
/* ---------- CONTACT PAGE ---------- */
/**************************************/
.frame .wpcf7 form				{ padding-top: 0px; padding-bottom: 5px;}
.wpcf7 label                   	{ background:none;color: #636363; left: 10px; line-height: 21px; position: absolute; top: 3px; z-index: 10;}
.wpcf7 label span               { font-weight: normal; cursor: pointer; }
.wpcf7 p                   		{ position: relative; margin-bottom: 15px;font-size:12px;}
.wpcf7 p:after 					{ clear: both; content:"."; display:block; height:0; overflow:hidden; visibility:hidden; }
.wpcf7 input,
.wpcf7 textarea          		{ background:#fff; border: 1px solid #cccccc; color: #636363; display: block; font-family: 'Arial', sans-serif; font-size: 12px; margin: 0px; padding: 8px 10px; 
								 -moz-box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.05) inset;  box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.05) inset;  -webkit-box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.05) inset;}
.wpcf7-list-item              	{ margin: 0px !important; }
.wpcf7-list-item input         	{ display: inline-block; margin: 0px 10px 0px 0px; vertical-align: middle; padding: 0px; border: none !important; }
.wpcf7 textarea 				{ width: 90%; }
.wpcf7 .required				{ display: block; font-size: 0px; line-height: 0px; text-indent: -9999px; width: 5px; height: 5px; position: absolute; top: -3px; left: -10px; background: url('design/img/required.gif') top left no-repeat;}
.wpcf7 .wpcf7-form-control-wrap	{ display: block; position: relative; }
.wpcf7 .wpcf7-submit           	{ color: #fff; background:#ddd; border: 0px solid #e8e8e8; font-family: arial; text-transform:uppercase;font-size: 14px; cursor: pointer; display: inline; font-weight: normal; width: auto; padding:7px 10px 6px; margin: 0px; /* text-shadow: 1px 1px 1px rgba( 255, 255, 255, 0.5);*/ margin-top: 20px; float: left; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.wpcf7 .wpcf7-submit:hover		{ text-decoration:none; border:none;/*text-shadow: 1px 1px 1px rgba( 0, 0, 0, 0.5);*/}

.wpcf7 .selectbox label						{ position: relative; top: 0px; left: 0px; float: left; border: 1px solid #CCCCCC; background: #ffffff; border-right-width: 0px; border-radius: 3px 0px 0px 3px; -moz-border-radius: 3px 0px 0px 3px; -webkit-border-radius: 3px 0px 0px 3px;}
.wpcf7 .selectbox .wpcf7-form-control-wrap	{ display: block; float: left; height: 25px; padding: 0px 8px; background: #fbfbfb; border: 1px solid #CCCCCC; border-left-width: 0px; border-radius: 0px 3px 3px 0px; -moz-border-radius: 0px 3px 3px 0px; -webkit-border-radius: 0px 3px 3px 0px;}
.wpcf7 .selectbox select					{ border: 1px solid #CCCCCC; margin-top: 4px; background:#fefefe;}
.wpcf7 .selectbox .required					{ top: -1px; left: -1px;}

.wpcf7 .checkbox label			{ display: block; float: none; position: relative; top: 0px; left: 0px; }

.wpcf7 .captcha	img		{ float: left; margin-right: 10px; border: 1px solid #DDDDDD; }

.wpcf7 div.wpcf7-validation-errors		{ margin: 20px 0px; padding: 2px 8px; line-height: 18px; background: #e7d700; border: 1px solid #F7E700; color: #111111; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.wpcf7 span.wpcf7-not-valid-tip			{ position: absolute; top: 7px; left: 70px; background: #dd0000; color: #FFFFFF; padding: 5px 8px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.wpcf7 span.wpcf7-not-valid-tip-no-ajax	{ position: absolute; top: 7px; left: 70px; background: #dd0000; color: #FFFFFF; padding: 2px 8px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.wpcf7 div.wpcf7-mail-sent-ok			{ margin: 20px 0px 0px 0px; padding: 2px 8px; line-height: 18px; background: #398F14; border: 1px solid #40A315; color: #ffffff; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}


.wpcf7 img.ajax-loader					{ display: block; float: left; padding: 3px; background: #f4f4f4; border: 1px solid #E8E8E8; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;  margin-bottom: 0px;}


/* CONTACT :: END */