/* RESPONSIVE :: START */
@media all and (max-width: 320px){}
@media all and (max-width: 640px){}
@media all and (max-width: 768px){}
@media all and (max-width: 980px){}
@media all and (max-width: 1024px){}

/* =================== */
/* = MAX WIDTH 480px = */
/* =================== */

@media all and (max-width: 497px){

#ait-themebox {display: none;}
.colorpicker {display: none;}

body { font-size: 20px; 	min-width: 480px ; max-width: 480px; width: 480px;}

.defaultContentWidth,.wrapper,.defaultPageWidth,.page-content,.service-boxes,.footer,.subpage .mainbar,header,.header-content,.social-links,#sections,#sections-container,.mainpage .menu-container,.footer-line, .footer-line .footer-menu,.footer-line .footer-text
{ width: 480px !important;}

.mainpage { margin: 0;max-width: 480px;width: 480px;}

/**** Menu ***************/
.top-container				  { padding: 0px; }
.top-container .grey-bg		  { background: #f0f0f0; }
#fixedmenu-container		  { position: relative; margin-bottom: 0px; }
.fixed-content				  { display: block; }
.menu-content				  { display: block; }
.responsive-menu      	   	  { display: inline; }
.menu-content .menubut  	  { display: inline-block; width: 300px; line-height: 50px; font-size: 24px; font-weight: bold; background: #333333; color: #ffffff; position: absolute; bottom: -12px; left:50%; z-index: 10; margin: 0px 0px 0px -150px; 
								text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); .rounded(30px); box-shadow: 0px 2px 5px rgba(0,0,0,0.2);}

/*
.bigbut, input#submit  				  { display: inline-block; font-size: 24px; font-weight: normal; line-height: 34px; text-align: center; text-decoration: none;
									   padding: 7px 18px 10px; margin: 50px 0 0px; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); transition: background-color 1s ease 0s, border-color 1s ease 0s;}
*/

.menu-content 			 			  { background-image: none;	height:90px  !important; position: relative; z-index: 1000; text-align:center; border-radius:0px !important; padding-top: 20px; }
.mainmenu 				  			  { display: block; padding: 0px; position: relative; width: auto;padding:15px 0;text-align:center; }

.menu-content:after 	 				  { clear: both; content: "."; display: block; height: 0; overflow: hidden; visibility: hidden;}
.menu-content .mainmenu    			  { display: none; left: 50%; margin-left: -175px; padding-bottom: 20px; position: absolute; top: 97px; width: 350px;}
.mainmenu ul							  { width: auto; }
.mainmenu ul li			 			  { display: block; float: none; font-size: 18px; height: auto; line-height: 26px; margin: 0; padding: 0; width: auto !important; border-top: 1px solid #EEEEEE !important;}
.menu-content:hover .mainmenu		  { display: block; }
.mainmenu ul li ul, .mainmenu ul li ul ul     { border-width: 0; box-shadow: none; padding: 0; width: auto;}
.mainmenu ul 						  { background:#fff;border-radius: 5px 5px 5px 5px; box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);display: block !important;margin: 0 !important;    padding: 25px 10px 10px;   position: static !important;   text-align: left;}
.mainmenu ul ul,.mainmenu ul ul ul		  { background: #fff;}
.mainmenu ul li a						  { background: none !important; color: #666; display: block; text-decoration: none;font-size:18px;font-family: Arial, sans-serif;}
.mainmenu li li:last-child,.mainmenu li li { box-shadow:none !important;}
.mainmenu > ul > li > a, .mainmenu > .menu > ul > li > a { background: none !important; padding: 10px ;font-weight:bold;}
.mainmenu > ul > li.current_page_item > a, .mainmenu > ul > li.current_page_parent > a, .mainmenu > ul > li.current_page_ancestor > a,
.mainmenu > .menu > ul > li.current_page_item > a, .mainmenu > .menu > ul > li.current_page_parent > a,
.mainmenu > .menu > ul > li.current_page_ancestor > a,
.mainmenu > ul > li > a:hover,
.mainmenu > .menu > ul > li > a:hover	  { box-shadow:none; }
.mainmenu > ul > li:after				  { background: none; display: none}
.mainmenu ul ul li:first-child:before 	  { border: none; }
.mainmenu > ul > li:hover:after,
.mainmenu > ul > li:hover > a, .mainmenu > .menu > ul > li:hover > a,
.mainmenu > ul > li:hover > a,
.mainmenu > .menu > ul > li:hover > a	 { color: #777 !important; }

.searchicon			  { display: inline-block; vertical-align: top; padding: 0px; float: none !important; width:200px; top: 20px; right: 30%;  white-space: nowrap; }
.searchsubmit 		  { float: none !important; background-position: center 5px; height: 25px; }
.searchinput		  { float: none !important;  vertical-align: top; }
.page-header						  { position: relative; }
header .logo 						  { float: none; width: auto !important; display: block !important; padding: 45px 0 0 !important;}
header .logo .table					  { display: block; width:auto;padding:0; border:none;}
header .logo a.trademark			  { display: block; float: none !important; margin: 0px 0px 16px 0px; }
header .logo .tagLineHolder  		  { display: block; width: 100%; height: auto; margin:0px;padding:0px; margin-left:0px;text-align:center; border:none !important; }
header .logo .tagLineHolder p		  { display: block; font-size: 18px !important; }
header .right						  { float:none;}
header .right .left.textshadow.info  	  { padding-top:20px;}
header .logo a img 				  	  { display: block;margin : 0 auto;}

#flags		{display: inline-block; vertical-align: top; padding: 0px; padding-top: 3px;  width: auto; }

.social-icons						  { margin: 20px auto 30px; padding-right: 0px; text-align: center;  }
.social-icons li						  { float: none !important; display: inline-block; margin-left: 15px; }
.social-icons li:first-child  	 	  { margin-left: 0px; }

.toolbar			 { font-size: 16px; text-align: center; }
.toolbar .wrapper	 { width: 480px !important; padding: 0px; }
.toolbar .crumbs	 {	 background: none; display: block; padding: 0px 10px; border-top: 1px solid #dddddd; }
#content			 { padding: 0px 25px 20px; width: 430px !important;}
#content .wrapper,
.mainbar			 { width: 430px !important;}
.home-sidebar,
.page-sidebar 		 { width: 430px; clear: both; float: none ; padding: 0px 25px !important  ;}
.blog .page-sidebar 	 { padding: 0px 25px !important  ;}

p, .entry-content p, .widget_text p, .entry-content ul li, .entry-content ol li  ,.content-text { font-size  : 20px !important ;line-height: 24px !important;}

small { font-size: 18px !important;line-height: 20px !important;}

.entry-content h1, .mainpage h1	 { font-size: 40px !important;}
.entry-content h2, .mainpage h2, .widgets h2.widget-title, h2.widget-title,.page-footer  h2.widget-title { font-size: 30px !important; }
.entry-content h3, .mainpage h3,.page-footer h3.widget-title a	{ font-size: 25px !important; line-height: 30px !important;}
.entry-content h4, .mainpage h4	 { font-size: 22px !important; line-height: 28px !important;}

.entry-content table thead th, .entry-content table tbody th,.entry-content table tbody td {line-height: 25px; font-size: 20px;}

.one-half, .one-half-last,.onecolumn .one-half, .onecolumn .one-half-last,.one-third, .one-third-last,.onecolumn .one-third, .onecolumn .one-third-last,.one-fourth, .one-fourth-last,
.onecolumn .one-fourth, .onecolumn .one-fourth-last,	.three-fourth, .three-fourth-last,	.onecolumn .three-fourth, .onecolumn .three-fourth-last,	.two-third, .two-third-last,
.onecolumn .two-third, .onecolumn .two-third-last 												 { margin-right: 0; max-width: 100%; width: 100% !important;  }

.subpage .entry-content .one-third .frame img,.subpage .entry-content .one-third-last .frame img,
.onecolumn .entry-content .one-third img.thumb, .onecolumn .entry-content .one-third-last img.thumb { max-width: 100%; width: 100%; height: auto;}

/***//*SHORTCODES**************/
.sc-page 			{ margin-bottom: 45px; }
.sc-page:last-child 	{ margin-bottom: 0px; }
.note-info,.note-success, .note-error, 
.note-attention		{ background-position: 10px 10px; }

.ui-tabs .ui-tabs-nav li a  	{ padding: 8px 12px 7px !important; }
.ui-accordion .ui-accordion-header a,
.ui-tabs .ui-tabs-nav li a 	{ font-size: 20px !important;  line-height: 24px !important;}
.sc-fb-comments iframe, .fb_iframe_widget, .twtr-widget, .twtr-doc { max-width: 430px; }
.sc-fb-comments.border .wrap { overflow: hidden;}

ul.style1 li:before, ul.style2 li:before, ul.style6 li:before, ul.style4 li:before, ul.style5 li:before, ul.phone li:before, ul.style3 li:before { top: 3px; }
ul.style1 li:after, li.style1:after, ul.style2 li:after, li.style2:after, ul.style3 li:after, li.style3:after, ul.style4 li:after, li.style4:after, li.phone:after, ul.style5 li:after, li.style5:after, ul.style6 li:after,
li.style6:after		{ top: 2px; }
ul.line li:before		{ top: 10px; }
ul.line li:after		{ top: 9px; }

.sitemap-pages ul ul, .sitemap-pages ul ul ul { margin-top: 5px; }

/***//*SLIDER SETTINGS********/

.section.slider-section						{ position: relative; z-index: 10; }
.top-container .grey-bg						{ height: 60px;  }
.top-container.slider-enabled  .grey-bg		{ border-bottom: none; }
.top-container.slider-disabled .grey-bg		{ position: static; }

/***//*SERVICE BOXES*********/

.service-boxes-container	{
				  text-align: center;
	.sbox		{ width: auto; float: none; margin: 0 auto; padding: 25px; border-right: 0px;}
	.sbox img	{ margin: 0 auto 20px; }
	.sbox		{ border-bottom: 1px solid #eee; }
	.sbox:last-child { border-bottom: 0px; }
	a.more 		{ padding: 8px 15px 10px ; }
				}

/***//*TESTIMONIALS*********/

.testimonials				 { width: 430px !important; padding: 20px 0 40px; margin: 0px auto;text-align: center; }
.testimonials  a      			 { float:none;}
.testimonials img     			 { margin: 20px auto;}
.testimonial 				 { width: 370px !important; padding: 0px 25px; }
.testimonials p 				 { font-size: 24px; line-height: 29px;text-align: center;}
.testimonials .testimonial-author { right: 100px; top: -32px; }
.testimonial-arrows			 { right: 83px; }
.testimonial-arrows .arrow.arrow-left:before { border-width: 10px 11px 10px 0; top: -11px; }
.testimonial-arrows .arrow.arrow-left:after 	 { border-width: 7px 7px 7px 0px; top: -8px; }
.testimonial-arrows .arrow.arrow-right:before { border-width: 10px 0 10px 11px; top: -11px; left: 16px; }
.testimonial-arrows .arrow.arrow-right:after 	 { border-width: 7px 0px 7px 7px ; top: -8px; left: 16px; }

/***//*ICON MENU*********/

ul#sti-menu li 	  { -webkit-box-sizing: border-box;	-moz-box-sizing   : border-box;	-ms-box-sizing : border-box;	box-sizing : border-box;	width : 50% !important;}
.sti-menu li   	  { height: 270px !important; margin: 0px !important;  }
.sti-menu li:hover
.sti-menu li a  	  { border-top: 1px solid @linesColor !important ; }
.sti-menu li a h3    { font-size: 24px !important; padding: 10px 24px 0px !important;}
.sti-menu li p	  { font-size: 18px !important; padding: 10px 24px 0px !important;}

/***//*GRID GALLERY*********/

.portfolio {
	.port-cat			 	  { padding: 12px; }
	.port-cat li				    { padding: 13px 0px; }
	.port-cat li a			    { padding: 11px 13px; }
	.port-cat li a:last-child     { border-right:0px; -moz-box-shadow: -1px 0 0 0 #FFFFFF; box-shadow: -1px 0 0 0 #FFFFFF; -webkit-box-shadow: -1px 0 0 0 #FFFFFF; }

	ul li.item				    { float: none !important; height: auto !important; padding-bottom: 45px !important; }
	.tileWrap				    { height: 280px !important; width: auto !important; }
	.tile img				    { height: auto !important; width: 430px !important; }
	.tile, .tile-desc-wrap, .tile-desc, p.tile-desc-cont { height: auto !important; width: auto !important; }
			
}
.single-ait-grid-portfoliob	.tool-buttons	{ top: 20px !important; } 
.single-ait-grid-portfoliob .entry-thumbnail img { margin-bottom: 0px !important; }

.five .item-height-auto ul.ourHolder li.item:hover h3, .five .item-height-letterbox ul.ourHolder li.item:hover h3 , .four .item-height-auto ul.ourHolder li.item:hover h3 ,
.four .item-height-letterbox ul.ourHolder li.item:hover h3,.three .item-height-auto ul.ourHolder li.item:hover h3 ,  .three .item-height-letterbox ul.ourHolder li.item:hover h3 
      { top: -30px; bottom: auto; .rounded(0px);  }

/***//*PARTNERS*********/

ul.partners li { margin: 0px 16px; }

/***//* MEMBERS *********/
.ait-teams {
	.image-wrap img			  { width: 100%; }
	.social-buttons img		   { width: auto; }
	.single-member			   { padding-bottom: 40px; }
	.single-member:last-child { padding-bottom: 0px; }
	h3 						   { padding: 15px 0 10px !important}
	p						   { padding-bottom: 10px !important; }
	p span					   { font-size: 18px !important; }

}
ul.phone li			{ margin-left: 120px !important; text-align: left !important;  }
ul.phone li:after		{ top: 11px; }
ul.phone li:before	{ top: 12px; }
ul.phone li small		{ margin-left: 30px; white-space: nowrap;  }

/***//* BLOG *******************/

.hentry		{ 
						  text-align: center; 
	.entry-header 		{ width: 430px !important; position: relative; }
	.entry-content,  h2.entry-title,  .entry-meta { padding-left: 0px; }
	.entry-meta			{ margin-top: 20px; }
	.left-meta			{ float: none !important; } 
	.date				{ display: inline-block; left: auto; top: auto; position: relative; margin-bottom: 30px; }
	.tool-buttons		{ top: 255px; }
	.comments-count		{ position: static; display: block;  }
	span.comments-count	{ margin: 0 auto 30px;  }
}
	.entry-meta span		{ font-size: 20px !important; line-height: 28px; }		

.hentry.no-thumbnail .date			{ top: auto; left: auto; }
.hentry.no-thumbnail .tool-buttons 	{ position: relative; }
.hentry.no-thumbnail .icon-date	       { width: 115px; height: 115px; }	

.single-post .no-thumbnail .tool-buttons	{ top: auto; bottom: auto; margin-bottom: 20px; }
.single-post #respond 					{ padding: 0px 25px; margin-bottom: 45px; }
.single-post #respond p.form-submit		{ right: 25px; }

#comments							{ margin: 30px 25px; }
#comments .comment-avatar			{ display: block; float: none !important; margin-bottom: 20px; }
#comments .comment-links				{ display: block; position: relative; margin-bottom: 20px; }
#comments .comment-content			{ width: 100%; }
#comments .edit-link a,
#comments ul.children .comment-avatar img { margin-left: 0px; }
#comments .edit-link					{ font-size: 20px !important; }
#respond .logged-in-as, #respond .comment-notes	{ padding-bottom: 52px; }
#comments ol li #respond #reply-title small			{ top: 100px; }

/***//*WIDGETS*********/

.widget-container p				 { text-shadow:none;}
.widget_posts, .sidebar .widget-container, 
h2.widget-title 							{ text-align: center;}
.widget_links a		  					 { font-size: 20px !important; line-height: 24px;}
.widget_twitter li 						 { font-size: 20px; line-height: 25px; border: none;}
.widget_calendar table 					 { font-size: 16px; }
.widget_calendar td, .widget_calendar th   { padding:7px 0px !important; }
.widget_calendar caption 				        { font-size: 25px; padding:10px;}
.widget_calendar tfoot td					 { padding: 0px !important; }

.widget_archive li a,.widget_meta li a, .widget_categories li a,.widget_links li a,.widget_recent_comments li, .widget_archive a, .widget_categories a,.widget_nav_menu li a  { text-align: center !important;}
.widget_archive a, .widget_categories a { float: none; padding: 5px 10px !important; }

.widget_archive li a:before,.widget_categories li a:before,.widget_recent_comments li:before,.widget_links li a:before,.widget_meta li a:before,.widget_submenu li a:before,.widget_recent_entries li a:before,.widget_nav_menu li a:before,
.widget_submenu li.current_page_item a:before	{ border: none !important;}

.widget_person a											      { display: block; }
.widget_person img,.sidebar .widget_person img			      { display: block; text-align: center; float:none; width:200px; margin:20px auto;}
.widget_person ul.phone li ,.sidebar .widget_person ul.phone li   { background:none;width:auto;text-align:center;float:none;text-align:center;padding:10px 0 !important;margin:0 auto;}
.widget_person p					{ text-align:center;}

.widget_posts .postitem 			{ text-align:left; padding-bottom: 45px !important; }
.widget_posts .postitem small		{ font-size: 20px !important; line-height: 28px !important; }
.widget_posts .postitem:last-child { padding-bottom: 0px !important; }
.sidebar .widget_posts p 		{ font-size:14px; }
.widget_posts .read-more			{ padding: 13px 10px 11px; }

.widget_text a					{ display: block; }
.widget_text p					{ text-align: center; margin: 20px auto 7px; }
.widget_text img					{ display: block; text-align: center; margin: 0 auto;  }
.widget_text span				{ float: none !important; }				

.widget_archive li a, .widget_categories li a,  .widget_links li a, .widget_meta li a,  .widget_nav_menu li a, .widget_pages li a,  .widget_recent_entries li a, .widget_rss li a,  .widget_submenu li a,
.widget_recent_comments li { padding: 0;font-size:20px !important; line-height: 28px !important; text-align: center; }
.widget_pages li, .widget_pages li li, .sitemap-pages li a, .sitemap-posts li a, .widget_pages li li li { padding-left: 17px; }
.widget_pages li:before, .widget_pages li a:before, .widget_pages li li a:before, .widget_pages li li li:before, .sitemap-pages li:before, .sitemap-pages li a:before, .sitemap-pages li li a:before, .sitemap-pages li li li:before { border-width: 8px 0px 8px 8px ;}

.widget_flickr ul li,.widget_categories li	a, .widget_archive li a	 { display: inline-block; float  : none;}
.widget_flickr ul li img    		    { margin: 6px;}
.widget_twitter .twitter-timestamp { background: none; padding-left: 0;}

.page-footer .footer-sidebar .widget-container 	 { float: none; margin: 0 0 30px; padding:20px; width:440px !important;}
.page-footer .footer-sidebar a  					 { font-size:20px; line-height:28px;}
.page-footer .footer-sidebar h2.widget-title		 { margin-bottom:20px;}

/***//*FOOTER LINE*********/

.footer-line				{ text-align: center;border-top:none;}
.footer-line .footer-menu .right,.footer-line nav ul			{ float:none;}
.footer-line .left 			{ padding-bottom: 20px;}
.footer-line .right 			{ clear: both; float: none; padding-top: 20px;}
.footer-line div 			{ margin-bottom: 0px;}
.footer-line nav ul li	     		{ display: inline-block; float : none !important; margin : 10px 20px 10px 0;}
.footer-line nav ul li a		{ font-size: 20px !important; line-height: 24px;}
.page-footer .footer-line ul  { float: none !important; }


}

	/* RESPONSIVE :: END */