---
layout: default
animation: true
breadcrumbs: false
---

<section class="section description-section">
  <div class="wrapper">

    <h2 class="title"><strong>Welcome to The Everglades!</strong> </h2>

    <!--COPY-->
    <p>
    Thank you for choosing Tour The Glades! I'm Tod and I'll be your guide & host during your visit. 
    I have <strong>ONE</strong> job, providing Private Guided Tours in the Everglades and 10,000 Islands.
    I'm a Florida Native and live here in the Everglades year round.
    I have fine tuned my tours over the years and supply everything you’ll need during your trip which makes planning stress free.
    We supply insect repellent (if needed), sunscreen, cold bottled water and fresh seasonal fruit for every trip.
    We also provide professional grade dry boxes to keep your camera and other personal belongings safe.  
    I've built the company's reputation by focusing on the Quality of our tours not the Quantity of guests.
    </p>
    
    I focus primarily on the Kayak, Hiking and Camping trips.  My buddy Captain Kent does the Motorboat tours
    Kent is a legend in these parts of The Glades.  His family were among the very first settlers here and made their homes among the 
    10,000 islands atop the ancient Calusa Indian mounds in the early 1800's (before Florida was a state).
    Kent was born and raised here on Chokoloskee Island and he'll be quick to tell you he's 10th generation.....
    I haven't been able to work out the math on that but it sounds about right.
    One thing for sure he's a genuine Everglades Islander through & through. 
    He's a combination of Andy Griffith, John Wayne & Bert Reynolds all wrapped up in one.  
    He's also a Master Captain, an expert fishermen and one heck of a story teller. 
    He knows every little bit of deep water in the backcountry which allows him to navigate through the islands like a dolphin.
    Back in the old days Kent and his family hunted some of the same animals he brings guests to see and interact with.  
    He's sort of an outlaw turned conservationist I guess. 
    You'll see for yourself how in tune he is with the behavior of the wildlife and how he's able to anticipate their every move.
    Captain Kent is just old enough to remember the old ways and still young enough to witness the change. 
    Be aware he has his own names for some of the islands and waterways in the area.
    He'll tell you he uses the "original names" that his family gave the islands....not the names the government came up with later.
    Kent is definitely one of a kind and will no doubt be the main character in your Everglades stories back home.
    </p>
    
    We can only do one (sometimes two) trips per day which makes each one special.
    Our guests tend to be travel & tour connoisseurs that have done their research. 
    They've experienced the "cookie cutter" tours elsewhere and recognize the benefits of my approach.
    If you end up running late for the start of your trip, no problem....we're not concerned with anyone else but you.
    Let me know if you have any special requests like birthdays, anniversary's, etc and we'll plan something unique. 
    We can offer this personal service to our guests because you are the only client and receive 100% of our attention.
    The <strong>Private Tour / Native Guide</strong> philosophy allows my guests to experience the Everglades in a very unique and intimate way.
    Our tours create lifelong memories.  Take a look at what we offer and decide what works best for you. 
     Whether you're searching for Alligator, Manatee, Panther, Rare Birds or just a relaxing day in Nature....we can deliver.
    Start times are flexible although morning and late afternoons are best for wildlife viewing.
    If you have any questions just send me an email or call and together we can come up with a plan.
    </p>

    
    <!--COPY-->
    <p>
    
  
    <p>
    <a href="{{ site.baseurl }}{% post_url 2014-01-01-about-us %}">Read more...</a>
    </p>

  </div>
</section>

<section class="section sboxes-section grid-fullsize">
  <div class="service-boxes-container entry-content wrapper service-boxes-4">
      <div class="sbox-row">
    <div class="clearfix sbox sbox1 first-sbox"
    style="width: ;">
      <div class="sbox-wrap">
        <div class="sbox-content clear clearfix thumb-missing">
          <a href="{{ site.baseurl }}{% post_url 2014-01-01-everglades-backcountry-kayak-tour %}">
            <h2 class="title"><strong>Kayak The Everglades</strong> </h2>
          </a>
          <p>See a part of this vast wilderness that is only accessible by kayak. Glide through the freshwater ecosystem of the Everglades at your own pace as you explore the mangrove tunnels, saw grass parries, and the hardwood hammocks of the back country.</p>
        </div>
      </div>
    </div>
    <div class="clearfix sbox sbox2 "
    style="width: ;">
      <div class="sbox-wrap">
        <div class="sbox-content clear clearfix thumb-missing">
          <a href="{{ site.baseurl }}{% post_url 2014-01-01-motorboat-eco-tours-of-the-10000-islands %}">
            <h2 class="title"><strong>Motorboat Eco-tour</strong> </h2>
          </a>
          <p>The 10,000 Islands include Everglades National Park, Rookery Bay National Estuarine, Fakahatchee Strand State Preserve and The 10,000 Islands National Wildlife Refuge. Kayaks are perfect for exploring the calm waters of the backcountry but the absolute best way to explore this vast wilderness is by motorboat.</p>
        </div>
      </div>
    </div>
    <div class="clearfix sbox sbox3 "
    style="width: ;">
      <div class="sbox-wrap">
        <div class="sbox-content clear clearfix thumb-missing">
          <a href="{{ site.baseurl }}{% post_url 2014-01-01-journey-to-the-10000-islands %}">
            <h2 class="title"><strong>Journey To The 10,000 Islands</strong> </h2>
          </a>
          <p>Venture down an ancient river through the mangrove tunnels and saw grass prairie to the beautiful 10,000 Islands. Known as the Amazon of North America you'll glide under the canopy of our country's only subtropical wilderness.</p>
        </div>
      </div>
    </div>
    <div class="clearfix sbox sbox4 last-sbox"
    style="width: ;">
      <div class="sbox-wrap">
        <div class="sbox-content clear clearfix thumb-missing">
          <a href="{{ site.baseurl }}{% post_url 2014-01-01-hiking-trip %}">
            <h2 class="title"><strong>Wilderness Hiking</strong> </h2>
          </a>
          <p>Explore this ancient forest which happens to be the orchid and bromeliad capital of the nation! Home of the coveted Ghost Orchid, the Fakahatchee Strand has over 40 native orchids and 14 native bromeliad species. </p>
        </div>
      </div>
    </div>
      </div>
  </div>
</section>

<section class="section iconmenu-section">
  <div class="iconmenu-container wrapper">
  <style type="text/css" scoped="scoped">
    ul#sti-menu li { width: 23.5% }
  </style>

  <ul class="sti-menu clearfix clear    four      " id="sti-menu">
    <li data-hovercolor="#61a607" data-color="#61a607" data-bgcolor="#FFFFFF" data-bgcolor-hover="#777777">

      <a href="about-us/">
        <h3 class="sti-item" data-type="mText" style="color: #61a607">About Us</h3>
        <p class="sti-item" data-type="sText">
        Private Tours - Native Guides<br />Why our tours are best!</p>

          <span class="sti-icon sti-item" data-type="icon">
            <span class="icon-round"></span>
            <span class="icon-img" style="background: url('assets/uploads\/2013\/06\/ok\.jpg') no-repeat center center"></span>
          </span>

      </a>
    </li>
    <li data-hovercolor="#61a607" data-color="#61a607" data-bgcolor="#FFFFFF" data-bgcolor-hover="#777777">

      <a href="concierge-services/">
        <h3 class="sti-item" data-type="mText" style="color: #61a607">Our Favorites</h3>
        <p class="sti-item" data-type="sText">Where to stay, eat and have fun....we got you covered!</p>

          <span class="sti-icon sti-item" data-type="icon">
            <span class="icon-round"></span>
            <span class="icon-img" style="background: url('assets/uploads\/2013\/06\/ok\.jpg') no-repeat center center"></span>
          </span>

      </a>
    </li>
    <li data-hovercolor="#61a607" data-color="#61a607" data-bgcolor="#FFFFFF" data-bgcolor-hover="#777777">

      <a href="meeting-points/">
        <h3 class="sti-item" data-type="mText" style="color: #61a607">Meeting Points</h3>
        <p class="sti-item" data-type="sText">Where you will embark on your great adventure.</p>

          <span class="sti-icon sti-item" data-type="icon">
            <span class="icon-round"></span>
            <span class="icon-img" style="background: url('assets/uploads\/2013\/06\/ok\.jpg') no-repeat center center"></span>
          </span>

      </a>
    </li>
    <li data-hovercolor="#61a607" data-color="#61a607" data-bgcolor="#FFFFFF" data-bgcolor-hover="#777777">

      <a href="contact-us/">
        <h3 class="sti-item" data-type="mText" style="color: #61a607">Contact Us</h3>
        <p class="sti-item" data-type="sText">We can be reached via phone or by email. We look forward to hearing from you!</p>

          <span class="sti-icon sti-item" data-type="icon">
            <span class="icon-round"></span>
            <span class="icon-img" style="background: url('assets/uploads\/2013\/06\/ok\.jpg') no-repeat center center"></span>
          </span>

      </a>
    </li>
  </ul>
  </div>
</section>

<section class="section grid-fullsize tripadvisor-certificates">
  {% include trip_advisor_certificate_2011.html %}
  {% include trip_advisor_certificate_2012.html %}
  {% include trip_advisor_certificate_2013.html %}
</section>

