---
layout: default
animation: true
breadcrumbs: false
---

<section class="section description-section">
  <div class="wrapper">

    <h2 class="title"><strong>Welcome to Tour The Glades!</strong> </h2>

    <!--COPY-->
    <p>
    I'm Tod and I'll be your guide & host during your visit.
    I have <strong>ONE</strong> job year round, providing Private Guided Tours for YOU here in the Everglades and 10,000 Islands.
    I was born and raised here in SW Florida, my children go to school in Everglades City and we live here year round.  
    Nature and the Environment have been my passion since I was a child and I bring that with me on every trip.
    It was my early obsession with reptiles & amphibians that led me into the Florida wilderness.
    I first began catching snakes, lizards and turtles in the 3rd grade and bringing them to school for show & tell.
    I would constantly try to convince my friends to come with me to look for animals and explore the wilderness....now they call that Eco-Tourism.
    Florida history is also one of my passions and that seeps into my tours as well.
    I'm continuously studying the lives and culture of the Florida natives, early settlers and pioneers and I'm on the board of directors at the <a href="http://www.evergladeshistorical.org/">Everglades Society for Historical Preservation</a>.
    I focus on the Quality of my tours not the Quantity of guests.  My guests tend to be travel & tour connoisseurs.
    They have have done the group tours in the past and realize my approach is best.
    
    The <strong>Private Tour / Native Guide</strong> approach allows my guests to experience the Everglades in a very unique and intimate way.
    </p>

    <p>
    If I am already booked I can arrange to have my friend Jenny take you on a private tour.
    Jenny is a Florida native, a former Big Cypress Park Ranger, a Master Captain and a National Park trained Naturalist!
    She spent her childhood right here in Collier County fishing, camping and exploring the Everglades & 10,000 Islands.
    Much of Jenny's time was spent on her family's 40 acre camp in the neighboring <a href="http://www.freshfromflorida.com/Divisions-Offices/Florida-Forest-Service/Our-Forests/State-Forests/Picayune-Strand-State-Forest">Picauyne Strand State Forest</a>.
    Over the past 30 years Jenny has explored the Everglades by boat, on foot and on horseback.
    She loves this area just as much as I do and you'll sense that from the moment you meet her.
    It has taken me many years of searching to find the perfect guide, someone that shares my passion for the Everglades.
    Jenny is a true steward of the Everglades and I'm proud to have her on my team...and so will you! 
    </p>
    <!--COPY-->

    <p>
    <a href="{{ site.baseurl }}{% post_url 2014-01-01-about-us %}">Read more...</a>
    </p>

  </div>
</section>

<section class="section sboxes-section grid-fullsize">
  <div class="service-boxes-container entry-content wrapper service-boxes-4">
      <div class="sbox-row">
    <div class="clearfix sbox sbox1 first-sbox"
    style="width: ;">
      <div class="sbox-wrap">
        <div class="sbox-content clear clearfix thumb-missing">
          <a href="{{ site.baseurl }}{% post_url 2014-01-01-everglades-backcountry-kayak-tour %}">
            <h2 class="title"><strong>Experience The Everglades Back Country</strong> </h2>
          </a>
          <p>See a part of this vast wilderness that is only accessible by kayak. Glide through the freshwater ecosystem of the Everglades at your own pace as you explore the mangrove tunnels, saw grass parries, and the hardwood hammocks of the back country.</p>
        </div>
      </div>
    </div>
    <div class="clearfix sbox sbox2 "
    style="width: ;">
      <div class="sbox-wrap">
        <div class="sbox-content clear clearfix thumb-missing">
          <a href="{{ site.baseurl }}{% post_url 2014-01-01-motorboat-eco-tours-of-the-10000-islands %}">
            <h2 class="title"><strong>Motorboat Eco-tour</strong> </h2>
          </a>
          <p>The 10,000 Islands include Everglades National Park, Rookery Bay National Estuarine, Fakahatchee Strand State Preserve and The 10,000 Islands National Wildlife Refuge. Kayaks are perfect for exploring the calm waters of the backcountry but the absolute best way to explore this vast wilderness is by motorboat.</p>
        </div>
      </div>
    </div>
    <div class="clearfix sbox sbox3 "
    style="width: ;">
      <div class="sbox-wrap">
        <div class="sbox-content clear clearfix thumb-missing">
          <a href="{{ site.baseurl }}{% post_url 2014-01-01-journey-to-the-10000-islands %}">
            <h2 class="title"><strong>Journey To The 10,000 Islands</strong> </h2>
          </a>
          <p>Venture down an ancient river through the mangrove tunnels and saw grass prairie to the beautiful 10,000 Islands. Known as the Amazon of North America you'll glide under the canopy of our country's only subtropical wilderness.</p>
        </div>
      </div>
    </div>
    <div class="clearfix sbox sbox4 last-sbox"
    style="width: ;">
      <div class="sbox-wrap">
        <div class="sbox-content clear clearfix thumb-missing">
          <a href="{{ site.baseurl }}{% post_url 2014-01-01-hiking-trip %}">
            <h2 class="title"><strong>Wilderness Hiking</strong> </h2>
          </a>
          <p>Explore this ancient forest which happens to be the orchid and bromeliad capital of the nation! Home of the coveted Ghost Orchid, the Fakahatchee Strand has over 40 native orchids and 14 native bromeliad species. </p>
        </div>
      </div>
    </div>
      </div>
  </div>
</section>

<section class="section iconmenu-section">
  <div class="iconmenu-container wrapper">
  <style type="text/css" scoped="scoped">
    ul#sti-menu li { width: 23.5% }
  </style>

  <ul class="sti-menu clearfix clear    four      " id="sti-menu">
    <li data-hovercolor="#61a607" data-color="#61a607" data-bgcolor="#FFFFFF" data-bgcolor-hover="#777777">

      <a href="about-us/">
        <h3 class="sti-item" data-type="mText" style="color: #61a607">About Us</h3>
        <p class="sti-item" data-type="sText">
        Private Tours - Native Guides<br />Why our tours are best!</p>

          <span class="sti-icon sti-item" data-type="icon">
            <span class="icon-round"></span>
            <span class="icon-img" style="background: url('assets/uploads\/2013\/06\/ok\.jpg') no-repeat center center"></span>
          </span>

      </a>
    </li>
    <li data-hovercolor="#61a607" data-color="#61a607" data-bgcolor="#FFFFFF" data-bgcolor-hover="#777777">

      <a href="concierge-services/">
        <h3 class="sti-item" data-type="mText" style="color: #61a607">Our Favorites</h3>
        <p class="sti-item" data-type="sText">Where to stay, eat and have fun....we got you covered!</p>

          <span class="sti-icon sti-item" data-type="icon">
            <span class="icon-round"></span>
            <span class="icon-img" style="background: url('assets/uploads\/2013\/06\/ok\.jpg') no-repeat center center"></span>
          </span>

      </a>
    </li>
    <li data-hovercolor="#61a607" data-color="#61a607" data-bgcolor="#FFFFFF" data-bgcolor-hover="#777777">

      <a href="meeting-points/">
        <h3 class="sti-item" data-type="mText" style="color: #61a607">Meeting Points</h3>
        <p class="sti-item" data-type="sText">Where you will embark on your great adventure.</p>

          <span class="sti-icon sti-item" data-type="icon">
            <span class="icon-round"></span>
            <span class="icon-img" style="background: url('assets/uploads\/2013\/06\/ok\.jpg') no-repeat center center"></span>
          </span>

      </a>
    </li>
    <li data-hovercolor="#61a607" data-color="#61a607" data-bgcolor="#FFFFFF" data-bgcolor-hover="#777777">

      <a href="contact-us/">
        <h3 class="sti-item" data-type="mText" style="color: #61a607">Contact Us</h3>
        <p class="sti-item" data-type="sText">We can be reached via phone or by email. We look forward to hearing from you!</p>

          <span class="sti-icon sti-item" data-type="icon">
            <span class="icon-round"></span>
            <span class="icon-img" style="background: url('assets/uploads\/2013\/06\/ok\.jpg') no-repeat center center"></span>
          </span>

      </a>
    </li>
  </ul>
  </div>
</section>

<section class="section grid-fullsize tripadvisor-certificates">
  {% include trip_advisor_certificate_2011.html %}
  {% include trip_advisor_certificate_2012.html %}
  {% include trip_advisor_certificate_2013.html %}
</section>

