<section class="section slider-section carousel-container">
    <div class="slider-alternative" style="display: none">
      <img src="" alt="alternative" />
    </div>
      
      <!-- START REVOLUTION SLIDER 2.3.91 -->
      
              
              <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;padding:0px;margin-top:0px;margin-bottom:0px;max-height:620px;">
        <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;background-image:url({{ site.baseurl }}/assets/uploads/2013/06/green-forest1.jpg);background-repeat:no-repeat;max-height:620px;height:620;">						
                  <ul>
              <li data-transition="fade" data-slotamount="7" data-masterspeed="300" >
          <img src="{{ site.baseurl }}/assets/plugins/revslider/images/transparent.png"  alt="green-forest" data-fullwidthcentering="on">
                          
      <div class="tp-caption lfb"  
         data-x="-42" 
         data-y="67" 
         data-speed="2000" 
         data-start="800" 
         data-easing="easeOutExpo"  ><img src="{{ site.baseurl }}/assets/uploads/2013/06/trees.png" alt="trees"></div>
              
      <div class="tp-caption lfr"  
         data-x="145" 
         data-y="247" 
         data-speed="800" 
         data-start="2150" 
         data-easing="easeOutExpo"  ><img src="{{ site.baseurl }}/assets/uploads/2013/06/Untitled-7.png" alt="Everglades"></div>
              
      <div class="tp-caption lfb"  
         data-x="-152" 
         data-y="406" 
         data-speed="500" 
         data-start="1500" 
         data-easing="easeOutExpo"  ><img src="{{ site.baseurl }}/assets/uploads/2013/06/grass.png" alt="grass"></div>
              
      <div class="tp-caption fade"  
         data-x="-799" 
         data-y="501" 
         data-speed="300" 
         data-start="0" 
         data-easing="easeInExpo"  ><img src="{{ site.baseurl }}/assets/uploads/shadow.jpg" alt="bg"></a></div>
              
      <div class="tp-caption lfl"  
         data-x="179" 
         data-y="439" 
         data-speed="300" 
         data-start="1800" 
         data-easing="easeOutExpo"  ><img src="{{ site.baseurl }}/assets/uploads/2013/06/soil.png" alt="soil"></div>
              
      <div class="tp-caption large_text lfr"  
         data-x="95" 
         data-y="130" 
         data-speed="600" 
         data-start="4100" 
         data-easing="easeOutExpo"  >Contact Us Today: (239) 260-4577</div>
              
      <div class="tp-caption lfl"  
         data-x="101" 
         data-y="462" 
         data-speed="300" 
         data-start="2550" 
         data-easing="easeOutExpo"  ><img src="{{ site.baseurl }}/assets/uploads/2013/06/plant2.png" alt="plant 2"></div>
              
      <div class="tp-caption lft"  
         data-x="781" 
         data-y="202" 
         data-speed="1000" 
         data-start="3300" 
         data-easing="easeOutElastic"  ><img src="{{ site.baseurl }}/assets/uploads/2013/06/leaf.png" alt="leaf"></div>
              
      <div class="tp-caption lft"  
         data-x="682" 
         data-y="268" 
         data-speed="800" 
         data-start="3250" 
         data-easing="easeOutExpo"  ><a href="http://www.tripadvisor.com/Attraction_Review-g34210-d1908766-Reviews-Tour_the_Glades_Private_Tours-Everglades_City_Florida.html"><img src="{{ site.baseurl }}/assets/uploads/2013/06/trip-advisor-logo1.png" alt="Image 13"></a></div>
              
      <div class="tp-caption sfr"  
         data-x="674" 
         data-y="338" 
         data-speed="300" 
         data-start="3600" 
         data-easing="easeOutExpo"  ><img src="{{ site.baseurl }}/assets/uploads/2013/06/gator-small.png" alt="Image 14"></div>
                      </li>
              </ul>
                <div class="tp-bannertimer"></div>					</div>
      </div>				
            
    <script type="text/javascript">

      var tpj=jQuery;
      
                tpj.noConflict();
              
      var revapi1;
      
      tpj(document).ready(function() {
      
      if (tpj.fn.cssOriginal != undefined)
        tpj.fn.css = tpj.fn.cssOriginal;
      
      if(tpj('#rev_slider_1_1').revolution == undefined)
        revslider_showDoubleJqueryError('#rev_slider_1_1');
      else
         revapi1 = tpj('#rev_slider_1_1').show().revolution(
        {
          delay:6000,
          startwidth:1000,
          startheight:620,
          hideThumbs:200,
          
          thumbWidth:100,
          thumbHeight:50,
          thumbAmount:1,
          
          navigationType:"none",
          navigationArrows:"solo",
          navigationStyle:"round",
          
          touchenabled:"on",
          onHoverStop:"on",
          
          navigationHAlign:"center",
          navigationVAlign:"bottom",
          navigationHOffset:0,
          navigationVOffset:20,

          soloArrowLeftHalign:"left",
          soloArrowLeftValign:"center",
          soloArrowLeftHOffset:20,
          soloArrowLeftVOffset:0,

          soloArrowRightHalign:"right",
          soloArrowRightValign:"center",
          soloArrowRightHOffset:20,
          soloArrowRightVOffset:0,
              
          shadow:0,
          fullWidth:"on",

          stopLoop:"off",
          stopAfterLoops:-1,
          stopAtSlide:-1,

          shuffle:"off",
          
          hideSliderAtLimit:0,
          hideCaptionAtLimit:0,
          hideAllCaptionAtLilmit:0,
          startWithSlide:0	
        });
      
      });	//ready
      
    </script>
    
  <!-- END REVOLUTION SLIDER -->
</section>
