<div id="TA_certificateOfExcellence948" class="TA_certificateOfExcellence">
  <ul id="ztqYOEAK" class="TA_links XFf6iBGa">
    <li id="y0HSpMRDTGQ2" class="YgiFfne20wk">
      <a target="_blank" href="http://www.tripadvisor.com/">
        <img src="http://www.tripadvisor.com/img/cdsi/img2/awards/certificateOfExcellence_2013-14348-2.png" alt="TripAdvisor" class="widCOEImg" id="CDSWIDCOELOGO"/>
      </a>
    </li>
  </ul>
</div>
<script src="http://www.jscache.com/wejs?wtype=certificateOfExcellence&amp;uniq=948&amp;locationId=1908766&amp;lang=en_US&amp;year=2013"></script>
