<div id="TA_certificateOfExcellence427" class="TA_certificateOfExcellence">
<ul id="PPs059" class="TA_links 5HgkA2n">
<li id="tiRHTxDo" class="tdsgMN">
<a target="_blank" href="https://www.tripadvisor.com/Attraction_Review-g34210-d1908766-Reviews-Tour_The_Glades_Private_Wildlife_Tours-Everglades_City_Florida.html"><img src="https://www.tripadvisor.com/img/cdsi/img2/awards/CoE2017_WidgetAsset-14348-2.png" alt="TripAdvisor" class="widCOEImg" id="CDSWIDCOELOGO"/></a>
</li>
</ul>
</div>
<script src="https://www.jscache.com/wejs?wtype=certificateOfExcellence&amp;uniq=427&amp;locationId=1908766&amp;lang=en_US&amp;year=2017&amp;display_version=2"></script>
