<div id="TA_certificateOfExcellence706" class="TA_certificateOfExcellence">
<ul id="6mwOuK" class="TA_links pEPIhNG8f">
<li id="GuXkpI" class="a7fN7jiBpqYl">
<a target="_blank" href="http://www.tripadvisor.com/Attraction_Review-g34210-d1908766-Reviews-Tour_the_Glades_Wildlife_Tours-Everglades_City_Florida.html"><img src="http://www.tripadvisor.com/img/cdsi/img2/awards/CoE2015_WidgetAsset-14348-2.png" alt="TripAdvisor" class="widCOEImg" id="CDSWIDCOELOGO"/></a>
</li>
</ul>
</div>
<script src="http://www.jscache.com/wejs?wtype=certificateOfExcellence&amp;uniq=706&amp;locationId=1908766&amp;lang=en_US&amp;year=2015&amp;display_version=2"></script>
