overrideGlobal:
	label: Use these settings
	type: checkbox
	default:
		'yes':
			label: 'Yes'
partnersDisplay:
	label: Show
	type: radio
	default:
		true:
			label: 'Yes'
			checked: true
		false:
			label: 'No'
partnersCategory:
	label: Category
	type: dropdown-categories
	default: 'partners'
partnersBackgroundColor:
	label: Background Color
	type: colorpicker
	default: '#FFFFFF'