<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7" lang="en-US" Florida Everglades Kayak Tours & Boat Tours - Marco Island Naples Everglades City Miami><![endif]-->
<!--[if IE 8]><html class="ie ie8" Florida Everglades Kayak Tours><![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html  Florida Everglades Kayak Tours & Boat Tours - Marco Island Naples Everglades City Miami>
<!--<![endif]-->
<head>
	<meta charset="UTF-8" />
<script type='text/javascript'>var ua = navigator.userAgent; var meta = document.createElement('meta');if((ua.toLowerCase().indexOf('android') > -1 && ua.toLowerCase().indexOf('mobile')) || ((ua.match(/iPhone/i)) || (ua.match(/iPod/i)))){ meta.name = 'viewport';	meta.content = 'target-densitydpi=device-dpi, width=480'; }var m = document.getElementsByTagName('meta')[0]; m.parentNode.insertBefore(meta,m);</script>

<link rel='stylesheet' id='contact-form-7-css'  href='{{ site.baseurl }}/assets/plugins/contact-form-7/includes/css/styles.css?ver=3.4.1' type='text/css' media='all' />
<link rel='stylesheet' id='rs-settings-css'  href='{{ site.baseurl }}/assets/plugins/revslider/rs-plugin/css/settings.css?ver=3.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='rs-captions-css'  href='{{ site.baseurl }}/assets/plugins/revslider/rs-plugin/css/captions.css?ver=3.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='ait-colorbox-css'  href='{{ site.baseurl }}/assets/themes/tourtheglades/design/css/libs/colorbox.css?ver=3.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='ait-fancybox-css'  href='{{ site.baseurl }}/assets/themes/tourtheglades/design/css/libs/fancybox.css?ver=3.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='jquery-ui-css'  href='{{ site.baseurl }}/assets/themes/tourtheglades/design/css/libs/jquery-ui.css?ver=3.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='prettysociable-css'  href='{{ site.baseurl }}/assets/themes/tourtheglades/design/css/libs/prettySociable.css?ver=3.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='hoverzoom-css'  href='{{ site.baseurl }}/assets/themes/tourtheglades/design/css/libs/hoverZoom.css?ver=3.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='gallery' href='{{ site.baseurl }}/assets/gallery.css' />
<script type='text/javascript' src='{{ site.baseurl }}/assets/wp-includes/js/jquery/jquery.js?ver=1.8.3'></script>
<script type='text/javascript' src='{{ site.baseurl }}/assets/wp-includes/js/comment-reply.min.js?ver=3.5.1'></script>
<script type='text/javascript' src='{{ site.baseurl }}/assets/plugins/revslider/rs-plugin/js/jquery.themepunch.plugins.min.js?ver=3.5.1'></script>
<script type='text/javascript' src='{{ site.baseurl }}/assets/plugins/revslider/rs-plugin/js/jquery.themepunch.revolution.min.js?ver=3.5.1'></script>
<script type='text/javascript' src='{{ site.baseurl }}/assets/themes/tourtheglades/design/js/libs/jquery-plugins.js?ver=3.5.1'></script>
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="{{ site.baseurl }}/assets/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 3.5.1" />
<link rel='canonical' href='{{ site.baseurl }}{{ page.url }}' />
	<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>

	<!--[if lt IE 9]>
		<script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
	<![endif]-->

	<link id="ait-style" rel="stylesheet" type="text/css" media="all" href="{{ site.baseurl }}/assets/themes/tourtheglades/style.css?1372952407" />
	<link id="ait-style" rel="stylesheet" type="text/css" media="all" href="{{ site.baseurl }}/assets/custom.css" />
	<title> Florida Everglades Kayak Tours & Everglades Boat Tours - Marco Island Naples Everglades City Miami</title>
</head>

<body class="home page page-id-5 page-template page-template-homepage-php" data-themeurl="{{ site.baseurl }}/assets/themes/tourtheglades">
	<div class="mainpage">
		<div class="main-container">
			<div id="fixedmenu-container">
				<div class="fixed-content wrapper">
					<div class="menu-content">
						<div id="mainmenu-dropdown-duration" style="display: none;">200</div>
						<div id="mainmenu-dropdown-easing" style="display: none;">swing</div>
						<span class="menubut bigbut">Main Menu</span>
<nav class="mainmenu">
  <ul id="menu-menu" class="menu">
    <li id="menu-item-70" class="menu-item menu-item-type-post_type menu-item-object-page {% if page.url == '/index.html' %}current-menu-item{% endif %} page_item page-item-5 menu-item-70"><a href="{{ site.baseurl }}/">Home</a></li>
    <li id="menu-item-66" class="menu-item menu-item-type-post_type menu-item-object-page {% if page.url == '/about-us' %}current-menu-item{% endif %} menu-item-66"><a href="{{ site.baseurl }}{% post_url 2014-01-01-about-us %}">About Us</a></li>
    <li id="menu-item-103" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-103"><a href="#">Our Trips</a>
      <ul class="sub-menu">
        <li id="menu-item-107" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-107"><a href="{{ site.baseurl }}{% post_url 2014-01-01-everglades-backcountry-kayak-tour %}">Back Country Kayak Tour</a></li>
        <li id="menu-item-108" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-108"><a href="{{ site.baseurl }}{% post_url 2014-01-01-motorboat-eco-tours-of-the-10000-islands %}">Motorboat Eco Tours</a></li>
        <li id="menu-item-106" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-106"><a href="{{ site.baseurl }}{% post_url 2014-01-01-hiking-trip %}">Wilderness Hiking Trip</a></li>
        <li id="menu-item-104" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-104"><a href="{{ site.baseurl }}{% post_url 2014-01-01-journey-to-the-10000-islands %}">Journey To The 10,000 Islands</a></li>
        <li id="menu-item-126" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-126"><a href="{{ site.baseurl }}{% post_url 2014-01-01-overnight-camping-in-the-10000-islands %}">Overnight Island Camping</a></li>
        <li id="menu-item-126" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-127"><a href="{{ site.baseurl }}{% post_url 2014-01-01-airboat-and-swamp-buggy-tours %}">Airboat and Swamp Buggy Tours</a></li>
        <li id="menu-item-126" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-127"><a href="{{ site.baseurl }}{% post_url 2014-01-01-birders-paradise %}">Everglades Birding Tour</a></li>
        <li id="menu-item-126" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-127"><a href="{{ site.baseurl }}{% post_url 2014-01-01-seasonal-specialty-trips %}">Seasonal/Specialty Trips</a></li>
      </ul>
    </li>
    <li id="menu-item-118" class="menu-item menu-item-type-post_type menu-item-object-page {% if page.url == '/meeting-points' %}current-menu-item{% endif %} menu-item-118"><a href="{{ site.baseurl }}{% post_url 2014-01-01-meeting-points %}">Meeting Points</a></li>
    <li id="menu-item-67" class="menu-item menu-item-type-post_type menu-item-object-page {% if page.url == '/concierge-services' %}current-menu-item{% endif %} menu-item-67"><a href="{{ site.baseurl }}{% post_url 2014-01-01-concierge-services %}">Our Favorites</a></li>
    <li id="menu-item-67" class="menu-item menu-item-type-post_type menu-item-object-page {% if page.url == '/become-a-master-naturalist' %}current-menu-item{% endif %} menu-item-67"><a href="{{ site.baseurl }}{% post_url 2014-01-01-become-a-master-naturalist %}">Become a Master Naturalist</a></li>
    <li id="menu-item-68" class="menu-item menu-item-type-post_type menu-item-object-page {% if page.url == '/contact-us' %}current-menu-item{% endif %} menu-item-68"><a href="{{ site.baseurl }}{% post_url 2014-01-01-contact-us %}">Contact Us</a></li>
  </ul>
</nav>

						
					</div>
				</div>
			</div>

      {% include top_container.html %}

		</div>

<div id="sections">

  {{ content }}

</div>

<script type='text/javascript' src='{{ site.baseurl }}/assets/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.32.0-2013.04.03'></script>
<script type='text/javascript' src='{{ site.baseurl }}/assets/plugins/contact-form-7/includes/js/scripts.js?ver=3.4.1'></script>
<script type='text/javascript' src='{{ site.baseurl }}/assets/wp-includes/js/jquery/ui/jquery.ui.core.min.js?ver=1.9.2'></script>
<script type='text/javascript' src='{{ site.baseurl }}/assets/wp-includes/js/jquery/ui/jquery.ui.widget.min.js?ver=1.9.2'></script>
<script type='text/javascript' src='{{ site.baseurl }}/assets/wp-includes/js/jquery/ui/jquery.ui.tabs.min.js?ver=1.9.2'></script>
<script type='text/javascript' src='{{ site.baseurl }}/assets/wp-includes/js/jquery/ui/jquery.ui.accordion.min.js?ver=1.9.2'></script>
<script type='text/javascript' src='{{ site.baseurl }}/assets/themes/tourtheglades/design/js/libs/jquery-infieldlabel.js?ver=3.5.1'></script>
<script type='text/javascript' src='{{ site.baseurl }}/assets/themes/tourtheglades/design/js/libs/jquery-iconmenu.js?ver=3.5.1'></script>
<script type='text/javascript' src='{{ site.baseurl }}/assets/themes/tourtheglades/design/js/libs/modernizr-2.6.1-custom.js?ver=3.5.1'></script>
<script type='text/javascript' src='{{ site.baseurl }}/assets/themes/tourtheglades/design/js/script.js?ver=3.5.1'></script>
<script type='text/javascript' src='{{ site.baseurl }}/assets/gallery_facebook_item.js'></script>
				</div>
	</body>
</html>
